<!doctype html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head(${title})"></head>
<body>
<nav th:replace="fragments.html :: mainNav">
</nav>
<main class="container m-5">
    <div class="row" >
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Frage</th>
                    <th>LernGruppe</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="k : ${karte}">
                    <td th:text="${k.frage}"></td>
                   <td th:text="${lernGruppe}"> </td>
                    <td>
                        <a th:href="@{/antwort/{id}(id=${k.id})}" class="btn btn-success">Antwort anzeigen</a>
                    </td>
                    <td>
                        <form method="post" th:action="@{/deletekarte}">
                            <input type="hidden" name="id" th:value="${k.id}">
                            <button class="btn btn-danger"> Löschen </button>
                        </form>
                    </td>

                </tr>
                </tbody>

            </table>
            <a th:href="@{/lernkartei}" class="btn btn-info">Zurück</a>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Antwort</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td >
                        <div th:if="${active} == 'zeigen'" class="row alert alert-primary">
                            <h1 th:text="${zeigen}"></h1>
                            <div  class="row g-3">
                                <div class="col-auto">
                                    <p>
                                        <a class="btn btn-success" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Korrekt</a>
                                        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Falsch</button>
                                    </p>
                                    <div class="col-auto">
                                        <div class="col">
                                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                <div th:if="${act} == 'erinnerung'"  class="card card-body">
                                                    <p th:text="${erinnerung}"></p>
                                                    <a th:href="@{/korrekt}">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                                <div class="card card-body">
                                                    wird als neue Karte gespeichert und bald erinnert
                                                    <a th:href="@{/falsch}">OK</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${active} == 'z'" ></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

<th:block th:replace="fragments.html :: foot"></th:block>
</body>
</html>