<!doctype html>
<html lang="de">
<head th:replace="fragments.html :: head(${title})"></head>
<body>
  <nav th:replace="fragments.html :: mainNav">

  </nav>
  <main class="position-absolute top-50 start-50 translate-middle " >
      <div class="row">
          <div class="row alert alert-primary">
             <h1 th:text="${col1}"></h1>
          </div>
          <div class="row alert alert-warning">
            <h1 th:text="${col2}"></h1>
          </div>
          <div class="row mb-3">
            <form method="get" class="d-grid gap-2" th:action="@{/newlrngrp}">
              <button class="btn btn-success btn-lg align-middle" type="submit">Neue Lernkartei erstellen</button>
            </form>
          </div>
          <div class="row mb-3 text-center">
              <p size="10">Oder</p>
          </div>
          <div class="row">
              <form class="d-grid gap-2" th:action="@{/lernkartei}">
                <button class="btn btn-success btn-lg" type="submit">Mit Lernen anfangen</button>
              </form>
          </div>
      </div>
  </main>

  <th:block th:replace="fragments.html :: foot"></th:block>
</body>
</html>